HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

*.properties
application.yml
/docker/qdrant/storage/.qdrant_fs_check
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/payload_index/000004.log
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/payload_index/000004.log
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/payload_index/000004.log
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/payload_index/000004.log
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/payload_index/000004.log
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/payload_index/000004.log
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/payload_storage/bitmask.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/payload_storage/bitmask.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/payload_storage/bitmask.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/payload_storage/bitmask.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/payload_storage/bitmask.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/payload_storage/bitmask.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/payload_index/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/payload_storage/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/vector_storage/vectors/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/payload_index/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/payload_storage/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/vector_storage/vectors/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/payload_index/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/payload_storage/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/vector_storage/vectors/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/payload_index/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/payload_storage/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/vector_storage/vectors/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/payload_index/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/payload_storage/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/vector_storage/vectors/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/payload_index/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/payload_storage/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/vector_storage/vectors/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/payload_index/CURRENT
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/payload_index/CURRENT
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/payload_index/CURRENT
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/payload_index/CURRENT
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/payload_index/CURRENT
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/payload_index/CURRENT
/docker/qdrant/storage/aliases/data.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/wal/first-index
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/vector_storage/deleted/flags_a.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/vector_storage/deleted/flags_a.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/vector_storage/deleted/flags_a.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/vector_storage/deleted/flags_a.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/vector_storage/deleted/flags_a.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/vector_storage/deleted/flags_a.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/payload_storage/gaps.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/payload_storage/gaps.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/payload_storage/gaps.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/payload_storage/gaps.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/payload_storage/gaps.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/payload_storage/gaps.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/payload_index/IDENTITY
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/payload_index/IDENTITY
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/payload_index/IDENTITY
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/payload_index/IDENTITY
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/payload_index/IDENTITY
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/payload_index/IDENTITY
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/payload_index/LOCK
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/payload_index/LOCK
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/payload_index/LOCK
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/payload_index/LOCK
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/payload_index/LOCK
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/payload_index/LOCK
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/payload_index/LOG
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/payload_index/LOG
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/payload_index/LOG
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/payload_index/LOG
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/payload_index/LOG
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/payload_index/LOG
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/payload_index/MANIFEST-000005
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/payload_index/MANIFEST-000005
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/payload_index/MANIFEST-000005
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/payload_index/MANIFEST-000005
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/payload_index/MANIFEST-000005
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/payload_index/MANIFEST-000005
/docker/qdrant/storage/collections/ai_career_ko_v1/0/wal/open-1
/docker/qdrant/storage/collections/ai_career_ko_v1/0/wal/open-2
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/payload_index/OPTIONS-000007
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/payload_index/OPTIONS-000007
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/payload_index/OPTIONS-000007
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/payload_index/OPTIONS-000007
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/payload_index/OPTIONS-000007
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/payload_index/OPTIONS-000007
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/payload_storage/page_0.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/payload_storage/page_0.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/payload_storage/page_0.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/payload_storage/page_0.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/payload_storage/page_0.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/payload_storage/page_0.dat
/docker/qdrant/storage/raft_state.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/replica_state.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/segment.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/segment.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/segment.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/segment.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/segment.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/segment.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/shard_config.json
/docker/qdrant/storage/collections/ai_career_ko_v1/shard_key_mapping.json
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/vector_storage/deleted/status.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/vector_storage/vectors/status.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/vector_storage/deleted/status.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/vector_storage/vectors/status.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/vector_storage/deleted/status.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/vector_storage/vectors/status.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/vector_storage/deleted/status.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/vector_storage/vectors/status.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/vector_storage/deleted/status.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/vector_storage/vectors/status.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/vector_storage/deleted/status.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/vector_storage/vectors/status.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/payload_storage/tracker.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/payload_storage/tracker.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/payload_storage/tracker.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/payload_storage/tracker.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/payload_storage/tracker.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/payload_storage/tracker.dat
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/2d6a2e05-4e68-40e9-9e0d-b97ef66b2738/version.info
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/95a9bbfb-e098-4356-b5dc-ea162b048c7d/version.info
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/c1aede51-7419-4484-b141-c97cbf3f3c8e/version.info
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/ca0d66ce-c255-432c-bf8e-b884a05f3131/version.info
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f3f64c87-4345-4abc-95e9-12b2bb17e166/version.info
/docker/qdrant/storage/collections/ai_career_ko_v1/0/segments/f4176e47-853e-4f5f-88c6-654dece4ab83/version.info
/docker/qdrant/storage/collections/ai_career_ko_v1/version.info
